---
layout: default
tabtitle: AntiFragilista
lang: en
---

<header>

	<div class="logo">
		<img src="{{ site.baseurl }}/assets/images/Next.png">
	</div>

	<nav>  
		<a href="joke">Home </a><a>|</a>
		<a href="mabina">About </a><a>|</a>
		<a href="blog"> Cool Projects </a><a>|</a>
		<span class="search">
			{% include icons/finder.html %}
		</span>
	</nav>

</header>
	<div class="language-switch-wrapper">
		<label class="language-switch">

		{% if page.lang == 'en' %}
			<a href="{{ site.baseurl }}{{ page.url}}sw">
		{% endif %}

			  <input type="checkbox">
			  <span class="slider round">
			  	<span class="leftie">en</span>
			  	<span class="rightie">sw</span>
			  </span>
			</a>
		</label>
	</div>

  {% include hero.html %}

  <div class="container">
    {% include aboutme.html %}

    {% include contactme.html %}


  </div>

  {% include footer.html %}

