---
layout: default
tabtitle: AntiFragilista
lang: sw
permalink: /sw/
---

<header>

	<div class="logo">
		<img src="{{ site.baseurl }}/assets/images/Next.png">
	</div>

	<nav>  
		<a href="{{ site.basurl }}/joke/sw/">Nyumbani </a><a>|</a>
		<a href="{{ site.basurl }}/mabina/sw/">Kuhusu </a><a>|</a>
		<a href="{{ site.basurl }}/blog/sw/"> Kazi noma </a><a>|</a>
		<span class="search">
			{% include icons/finder.html %}
		</span>
	</nav>

</header>
  {% include language-button.html %}

  {% include hero.html %}

<div class="container">

	<!-- About Me -->
	<div class="aboutme">
	  <div class="section-header">
	    <p>Kuhusu mimi</p>
	  </div>

	  <div class="details">
	    <div class="coolpic">
	      <img src="{{ site.baseurl }}/assets/images/avatar.JPG">
	    </div>

	    <div class="personal-details">
	      <table>
	        <tr>
	          <td>
	            Jina:
	          </td>
	          <td>
	            Gideonamani
	          </td>
	        </tr>
	        <tr>
	          <td>
	            Jinsia:
	          </td>
	          <td>
	            Mume
	          </td>
	        </tr>
	        <tr>
	          <td>
	            Uraia:
	          </td>
	          <td>
	            Mtanzania
	          </td>
	        </tr>
	        <tr>
	          <td>
	            Uwezo:
	          </td>
	          <td>
	            Nyingi sana kuweza kuorodhesha hapa..
	          </td>
	        </tr>
	        <tr>
	          <td>
	            Hobbies:
	          </td>
	          <td>
	            Kupiga gita &amp na ku-code
	          </td>
	        </tr>
	      </table>
	    </div>
	  </div>

	  <div class="quote">
	    <p><span class="icon-quote-top"></span>Kuwa muungwana kwa wote, <strong>wamanufaa</strong> kwa wengi, juana na wachache, rafiki wa wengi, na usiwe adui kwa yeyote. <span class="icon-quote-bottom"> </span></p>
	  </div>
	</div>


	<!-- Contact Me -->
	<div class="contactme">
	  <div class="section-header">
	    <p>Wasiliana na mimi</p>   
	  </div>
	  <div class="email-address">
	    <a href="mailto:{{ site.email }}"> <p>{{ site.email }} </p></a> 
	  </div>
	  <div class="social-icons">
	    <a href="http://facebook.com/gmarress"><img src="{{ site.data.iconvariables.icon-facebook }}"></a>
	    <a href="http://twitter.com/gideonamani"><img src="{{ site.data.iconvariables.icon-twitter }}"></a>
	    <a href="http://vk.com/gideonamani"><img src="{{ site.data.iconvariables.icon-vk }}"></a>
	    <a href="http://linkedin.com/in/gideonamani"><img src="{{ site.data.iconvariables.icon-linkedin }}"></a>
	    <a href="http://github.com/gideonamani"><img src="{{ site.data.iconvariables.icon-github }}"></a>
	  </div>

	  <div class="contact-form">
	    <form action="https://formspree.io/gmarress@gmail.com" method="post">
	      <label> <p>Jina lako</p>
	        <input type="text" name="person-name" placeholder="Foo Bar" id="your-name">
	      </label>
	      <label> <p>Barua pepe yako</p>
	        <input type="email" name="_replyto" placeholder="foo@bar.tld" id="your-email">
	      </label>
	      <label> <p> Kichwa cha ujumbe </p>
	        <input type="text" name="message-header" placeholder="Habari yako..." id="message-header">
	      </label>
	      <label> <p> Kiini cha ujumbe </p>
	        <textarea name="message-body"></textarea> 
	      </label>
	      <input type="submit" name="submit" value="TUMA">
	    </form>
	    
	  </div>
	</div>


</div>

<!-- Footer -->
<footer>
  <div class="site-links">
    <a href="{{ site.baseurl }}/">Nyumbani</a>
    <a href="{{ site.baseurl }}/mabina/">Kuhusu</a>
    <a href="{{ site.baseurl }}/blog/"> Kazi noma</a>
  </div>
  <div class="wrap">
    <div class="logo">
      <img src="{{ site.baseurl }}/assets/images/Next.png">
    </div>
    <div class="address">
      <address>
        196210 </br>
        Vertoletnaya, 11</br>
        St. Petersburg</br>
        Russia</br>
      </address>
    </div>
    
    <div class="creative-commons">
      <img src="{{ site.baseurl }}/assets/images/CreativeCommons.png">
    </div>
  </div>
</footer>
