<div class="aboutme">
	<div class="section-header">
		<p>About Me</p>
	</div>

	<div class="details">
		<div class="coolpic">
			<img src="{{ site.baseurl }}/assets/images/avatar.JPG">
		</div>

		<div class="personal-details">
			<table>
				<tr>
					<td>
						Name:
					</td>
					<td>
						Gideonamani
					</td>
				</tr>
				<tr>
					<td>
						Gender:
					</td>
					<td>
						Male
					</td>
				</tr>
				<tr>
					<td>
						Nationality:
					</td>
					<td>
						Tanzanian
					</td>
				</tr>
				<tr>
					<td>
						Skills:
					</td>
					<td>
						Just too many to list here..
					</td>
				</tr>
				<tr>
					<td>
						Hobbies:
					</td>
					<td>
						Guitar &amp Coding
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="quote">
		<p><span class="icon-quote-top"></span>Be civil to all, <strong>servicable</strong> to many, familiar with few, friend to many, enemy to none. <span class="icon-quote-bottom"> </span></p>
	</div>
	
</div>
