<div class="contactme">
	<div class="section-header">
		<p>Contact Me</p>		
	</div>
	<div class="email-address">
		<a href="mailto:{{ site.email }}"> <p>{{ site.email }} </p></a>	
	</div>
	<div class="social-icons">
		<a href="http://facebook.com/gmarress"><img src="{{ site.data.iconvariables.icon-facebook }}"></a>
		<a href="http://twitter.com/gideonamani"><img src="{{ site.data.iconvariables.icon-twitter }}"></a>
		<a href="http://vk.com/gideonamani"><img src="{{ site.data.iconvariables.icon-vk }}"></a>
		<a href="http://linkedin.com/in/gideonamani"><img src="{{ site.data.iconvariables.icon-linkedin }}"></a>
		<a href="http://github.com/gideonamani"><img src="{{ site.data.iconvariables.icon-github }}"></a>
	</div>

	<div class="contact-form">
		<form action="https://formspree.io/gmarress@gmail.com" method="post">
			<label> <p>Your Name</p>
				<input type="text" name="person-name" placeholder="Foo Bar" id="your-name">
			</label>
			<label> <p>Your Email</p>
				<input type="email" name="_replyto" placeholder="foo@bar.tld" id="your-email">
			</label>
			<label> <p> Message Header </p>
				<input type="text" name="message-header" placeholder="Hello there.." id="message-header">
			</label>
			<label> <p> Message Body </p>
				<textarea name="message-body"></textarea> 
			</label>
			<input type="submit" name="submit" value="SEND">
		</form>
		
	</div>
</div>