<div class="hero">
	<div class="hero-engines">
			<div class="desktop">
				<img class="Front" src="{{ site.baseurl }}/assets/images/JetEngine.png">
				<img class="Side" src="{{ site.baseurl }}/assets/images/EngineSection2X.png">				
			</div>
	</div>
	<div class="nicknames">
		<span><a href="https://en.wikipedia.org/wiki/Aircraft_Maintenance_Engineer"> AME </a></span>
		<span><a href="https://en.wikipedia.org/wiki/Antifragility"> Anti-Fragilista </a></span>
		<span><a href="https://en.wikipedia.org/wiki/Guitarist"> Guitarista </a></span>
		<span><a href="https://en.wikipedia.org/wiki/Python_(programming_language)"> Pythonista </a></span>
		
	</div>


</div>