<!-- <button style="

    position: initial;
    float: right;
    width: 70px;
    height: 30px;
    color: #FFC107;
    background-color: cornflowerblue;">

	{% if page.lang == 'en' %}
		<a href="{{ site.baseurl }}{{ page.url}}/sw"> En|Sw </a>
	{% elsif page.lang == 'sw' %}
		<a href="{{ site.baseurl }}{{ page.url | replace: '/sw/', '/' }}"> En|Sw </a>
	{% else %}
		<a href="{{ site.baseurl }}{{ page.url}}///"> En|Sw </a>
	{% endif %}

</button> -->
<div class="language-switch-wrapper">
	<label class="language-switch">

	{% if page.lang == 'en' %}
		<a href="{{ site.baseurl }}{{ page.url}}sw">
		  <input type="checkbox">
	{% elsif page.lang == 'sw' %}
		<a href="{{ site.baseurl }}{{ page.url | replace: '/sw/', '/' }}">
		  <input type="checkbox" checked="true">
	{% else %}
		<a href="{{ site.baseurl }}{{ page.url}}///">
		  <input type="checkbox">
	{% endif %}
		  <span class="slider round">
		  	<span class="leftie">en</span>
		  	<span class="rightie">sw</span>
		  </span>
		</a>
	</label>
</div>