<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
	<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/mystylesheet.css">
</head>

<body>
	<header>
		<div class="logo">
			<img src="">
		</div>
		<nav>
			<a href="#">Home</a>
			<a href="#">About</a>
			<a href="#">Cool Projects</a>
		</nav>
		<div class="search">
			<input type="text" name="" hidden="true">
			<img src="">
		</div>
	</header>

	<div class="container">
		<!-- 
		Then later check to see how you can incorporate other
		media content like maybe some videos or even some
		music into the post-content area.

		Last but not least there should be a way to have
		people interact by commenting at the bottom of the posts
		find out if there is a way of making that happen in the 
		simplest way that is possible. -->


		<div class="post-cards">
			<div class="tile">
				<div class="ribbon-card">
					<h3>labore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm</h3>
				</div>

				<div class="tile-bottom">
					<div class="post-meta">
						<div class="written-by">
							<p>Written by: Gideonamani A. M.</p>
						</div>
						<div class="posted-on">
							<p>Posted On: May 11, 2016</p>
						</div>
					</div>
				</div>
			</div>
			<div class="tile">
				<div class="ribbon-card">
					<h3>labore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm</h3>
				</div>

				<div class="tile-bottom">
					<div class="post-meta">
						<div class="written-by">
							<p>Written by: Gideonamani A. M.</p>
						</div>
						<div class="posted-on">
							<p>Posted On: May 11, 2016</p>
						</div>
					</div>
				</div>
			</div>


			<div class="tile">
				<div class="ribbon-card">
					<h3>labore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm</h3>
				</div>

				<div class="tile-bottom">
					<div class="post-meta">
						<div class="written-by">
							<p>Written by: Gideonamani A. M.</p>
						</div>
						<div class="posted-on">
							<p>Posted On: May 11, 2016</p>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>

	<footer>
		<div class="logo">
			<img src="">
		</div>

		<address>
			196210<br>
			Vertoletnaya 11<br>
			St. Petersburg<br>
			RUSSIA<br>
		</address>


		<div class="small-contact">
			<h3>Contact Me</h3>
			<p><a href="mailto:gmarress@gmail.com"> gmarress@gmail.com </a></p>
			
			<div class="social">
				<img src="">
				<img src="">
				<img src="">
			</div>
		</div>
		
		<nav>
			<a href="">HOME</a> | <a href="">ABOUT</a> | <a href="">COOL PROJECTS</a>
		</nav>
		<div class="creative-commons">
			<img src="">
		</div>
	</footer>


	<script src="{{ site.baseurl }}/assets/js/jquery-1.12.2.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!-- 	<script type="text/javascript">
		
	</script> -->
</body>

</html>